<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="26861JahanzebAJabbar.GPACalculator" Publisher="CN=695139CD-653A-4627-88BA-4251613B18E2" Version="1.1.0.4" />
  <Properties>
    <DisplayName>GPA_Calculator</DisplayName>
    <PublisherDisplayName>Jahanzeb A,Jabbar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GpaCalculator.App">
      <m2:VisualElements DisplayName="Gpa Calculator" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Gpa Calculator Combo , Having 2 gpa-Calulation methods.1 -Advance GPA Calculation, 2- Simple GPA Calculation .Programmed by : Jahanzeb Adil A,Jabbar" ForegroundText="light" BackgroundColor="#004b9b">
        <m2:DefaultTile ShortName="GPA Calculator" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#004b9b" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>